
.botones:hover {
    color: red;
    cursor: pointer;
}

#lista {
    width: 50%;
    height: 700px;
    float: left
}

#pie {
    float:left;
}

#mail {
    float: right;
}

a:link {
    color: white;
}