html{
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 15px;
    background-color: #efefef;
}
/*#titulo {
    font-size: 50px;
    text-align: center;
    border: 5px solid white;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 15;
}*/

.botones:hover {
    color: red;
    cursor: pointer;
}

#lista {
    width: 50%;
    height: 700px;
    background-color: blueviolet;
    float: left
}

#foto {
    width: 50%;
    height: 700px;
    float: right

}

#perfil {
    width: 300px;
    float: left;
}