.carta01 {

    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 100%;
   
    
}

.carta {
    font-weight: bold;
}

.carta02{
    border-radius: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    
}

#mail {
    color: white;
    text-decoration: none;
    font-weight: bold;
}